<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147392895509-g44sj8a8pnif3j7so0nkbut0dntggvul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147392895509-g44sj8a8pnif3j7so0nkbut0dntggvul</string>
	<key>API_KEY</key>
	<string>AIzaSyDUTxEv6ex-RCCgaNjEieXgVA5QOcJX8ww</string>
	<key>GCM_SENDER_ID</key>
	<string>147392895509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lalorosas.stockportfoliocreationmobile</string>
	<key>PROJECT_ID</key>
	<string>lpafinance-edbcf</string>
	<key>STORAGE_BUCKET</key>
	<string>lpafinance-edbcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147392895509:ios:f4d62001d9f23aa754cc1c</string>
	<key>DATABASE_URL</key>
	<string>https://lpafinance-edbcf.firebaseio.com</string>
</dict>
</plist>